@model ResultBlogWithAuthorDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="@Model.AuthorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>@Model.BlogAuthorName</h3>
        <p>@Model.AuthorDescription</p>
    </div>
</div>