
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    CarBook Admin
                </span>
            </a>
        </div>
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="/Admin/AdminDashboard/Index/"><i class="feather-airplay"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCar/Index/"><i class="fas fa-car"></i><span>Car Operation</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminFeature/Index/"><i class="fas fa-bus"></i><span>Car Feature</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBrand/Index/"><i class="fas fa-business-time"></i><span>Brand</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBanner/Index/"><i class="fas fa-broom"></i><span>Banner</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAbout/Index/"><i class="fas fa-info"></i><span>About Us</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAuthor/Index/"><i class="fas fa-pencil-alt"></i><span>Author</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCategory/Index/"><i class="fas fa-certificate"></i><span>Blog Category</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBlog/Index/"><i class="fas fa-blog"></i><span>Blog Operation</span></a>
                </li>

                <li>
                    <a href="/Admin/AdminPricing/Index/"><i class="fas fa-money-bill-alt"></i><span>Picing Method</span></a>
                </li>

                <li>
                    <a href="/Admin/AdminComment/Index/"><i class="fas fa-comment-dots"></i><span>Comment</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminContact/Index/"><i class="fas fa-phone"></i><span>Contact</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminFooterAddress/Index/"><i class="fas fa-map-marked-alt"></i><span>Foter Address</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminLocation/Index/"><i class="fas fa-map-marker-alt"></i><span>Location</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminService/Index/"><i class="fas fa-traffic-light"></i><span>Service</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminTestimonial/Index/"><i class="fas fa-people-carry"></i><span>Testimonial</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminSocialMedia/Index/"><i class="fas fa-tv"></i><span>Social Media</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminTagCloud/Index/"><i class="fas fa-hashtag"></i><span>Tag Cloud</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminStatistics/Index/"><i class="fas fa-table"></i><span>Statistic</span></a>
                </li>
                <li>
                    <a href="/Default/Index/"><i class="fas fa-store-alt"></i><span>Showcase</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminSettting/Index/"><i class="fas fa-sun"></i><span>Settting</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-window-close"></i><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>