@model CreateAuthorDto

@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create New Author</h4>
                        <p class="card-subtitle mb-4">
                            You can create a new author here. Please fill in the details below.
                        </p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputModel">Author Name</label>
                                <input type="text" class="form-control" asp-for="AuthorName" placeholder="Author Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputModel">Author Description</label>
                                <textarea class="form-control" asp-for="AuthorDescription" placeholder="Author Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputModel">Author Image URL</label>
                                <input type="text" class="form-control" asp-for="AuthorImageUrl" placeholder="Author Image URL">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


