@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Features List</h4>
                        <p class="card-subtitle mb-4">
                            You can manage your features here. You can add, edit, delete or search features from this Page.
                        </p>
                        <div class="table-responsive">

                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Feature</th>
                                        <th>Operatıons</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.FeatureId</td>
                                            <td>@item.FeatureName</td>
                                            <td>
                                                <a href="/Admin/AdminFeature/DeleteFeature/@item.FeatureId" class="btn btn-outline-danger">Delete</a>
                                                <a href="/Admin/AdminFeature/UpdateFeature/@item.FeatureId" class="btn btn-outline-warning">Update</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <a href="/Admin/AdminFeature/CreateFeature" class="btn btn-outline-info">Add Feature</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>