@model List<ResultCommetDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<ul class="comment-list">
    @foreach(var item in Model)
    {
        <li class="comment">
            <div class="comment-body">
                <h3>@item.CommentName</h3>
                <div class="meta">@item.CommentDate.ToString("dd/MM/yyyy")</div>
                <p>@item.CommentDescription</p>
                <p><a href="#" class="reply">Reply</a></p>
            </div>
        </li>
    }
</ul>