@model List<ResultTagCloudDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="sidebar-box ftco-animate">
    <h3>Tag Cloud</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="#" class="tag-cloud-link">@item.TagCloudTitle</a>
        }
    </div>
</div>